@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use "./partials/variables.scss" as *;
@font-face {
   font-family: Tasman;
   src: url(../font/tasman/Tasman-Regular.ttf);
}

@font-face {
   font-family: Montserrat;
   src: url(../font/montserrat/Montserrat-Regular.ttf);
}

nav a{
   font-family: Montserrat;
   text-decoration: none;
   font-size: 1.3rem;
}

header{
   background-image: url("../img/img/course-9-f-img.jpg");
   background-repeat: no-repeat;
   height: 1000px;
   background-position: center;
   background-size: 2100px;

   .darker-layer{
      background-color: rgba($color: #000000, $alpha: 0.25);
      height: 100%;
   }

   .shopping-cart-number{
      position: absolute;
      top: 0;
      right: -8px;
      color: white;
      width: 20px;
      height: 20px;
      background-color: $ia-primary;
      border-radius: 50%;
      font-size: 0.75rem;
   }
}