@font-face {
   font-family: Tasman;
   src: url(../font/tasman/Tasman-Regular.ttf);
}

@font-face {
   font-family: Montserrat;
   src: url(../font/montserrat/Montserrat-Regular.ttf);
}

$ia-primary: #40c4ff;
$ia-primary-ligth: #d6f3fe;
$ia-primary-ligther: #f7fdff;
$ia-text-light: #747474;
$ia-text-lighter: #b7b7b7;
$ia-active-bg: #f9f9f9;
$ia-border: #e4e4e4;
$ia-footer: #232322;